.careers-page {
    .content {
        padding-top: 80px;
    }

    &--single {
        .page-header__title {
            width: 60%;
            margin-right: auto;
            margin-left: auto;
        }
    }
}
