.retractable-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    max-height: 100vh;
    padding-top: 90px;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    transform: translateX(-110%);
    transition: transform 0.5s linear;

    &.retractable-sidebar--opened {
        transform: translateX(0);
    }
}

@include breakpoint(medium) {
    .retractable-sidebar {
        padding-top: 0;
        background-color: #f7f7f7;
    }
}
