.sp-awards__item {
    margin-bottom: 10px;
}

.sp-award__image-wrapper {
    display: block;
    max-width: 90px;
    margin-bottom: 10px;
}

.sp-award__name {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-right-color: transparent;
    border-left-color: transparent;
}
