//$varibles color and sizes
$black: rgb(32, 32, 32);
$text-alt: rgb(109, 105, 99);
$white: #fff;
$dark-bg: #262525;
$light-bg: #f7f7f7;
$base-color: #b99458;
$under-line-bg: #dddddd;
$light-gray: #eaeaea;
$icons-gray: #d2d2d2;
$dark-grey: #aaa;
$font-grey: #6d6963;
$sp-gray-text: #555;
$font-light-grey: #aeaeae;

$font: "Avenir LT Std Roman";
$bold: "Simplon BP Bold";
$uni: 'Uni Sans Semibold';
$uniBold: 'Uni Sans Bold';
$catalog: 'Catalog';
$fa: 'FontAwesome';
